
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body{
    background-color: rgba(0, 0, 255, 0.625);
}

main{
    background-color: rgb(0, 255, 238);
    width: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(174, 0, 255, 0.625);
}